@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Red Glass';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/RedGlass.woff2) format("woff2");
}

@layer base {
  body {
    @apply font-body px-4 bg-slate-900 text-slate-200;
  }
}
